.home {
  height: 28em;
  background-color: transparent;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4em;
  height: 5em;
}

.machine1 {
  margin-top: 7em;
  position: absolute;
  border-radius: 200px;
  width: 5.5em;
  margin-right: 3em;
  background: rgba(243, 221, 185, 0.54);
}

.machine {
  margin-top: 7em;
  position: absolute;
  border-radius: 200px;
  width: 5.5em;
  margin-left: 3em;
  background: rgba(243, 221, 185, 0.54);
}

.container:hover .bubble {
  display: block;
}

.container:hover .bubble1 {
  display: block;
}

.bubble {
  display: none;
  background-color: rgba(228, 224, 217, 0.8);
  padding: 0.7em 0.9em;
  width: 40%;
  border-radius: 2rem;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  visibility: visible;
  margin-left: -13em;
  margin-top: 7em;
  text-align: center;
  text-decoration: none;
}

.bubble1 {
  display: none;
  background-color: rgba(255, 242, 221, 0.54);
  padding: 0.7em 0.9em;
  width: 40%;
  border-radius: 2rem;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  visibility: visible;
  margin-right: -12em;
  margin-top: 6em;
  text-align: center;
  text-decoration: none;
}