.container-photo-profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin: 0 10%;
}
=======
  margin: 10% 0%;
>>>>>>> 6523e8dcf4b694df15732feb808fb5d3a3312935

.photo-user {
  z-index: 1;
  height: 150px;
  width: 150px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 200px;
}

.matiere {
  position: absolute;
  border-radius: 200px;
  overflow: hidden;
  width: 200px;
  height: 200px
}